body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    min-height: 100vh;
}

body > div.dark-section.text-white.py-4 {
    background: rgba(0, 0, 0, 0.14) !important;
    backdrop-filter: blur(2.5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 100%;
}