.nav-item {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-brand img {
    height: 40px;
}

#nav-id:hover {
    color: #fd7f7f !important;
}

.navbar-toggler {
    margin-left: 0px; !important;
}

.container {
    padding-left: 0 !important;
}

.bg-light {
    background-color: transparent !important;
}