.nav-item {
    font-size: 1.2rem;
    font-weight: bold;
}


.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    color: white;
}

.nav-link {
    text-shadow: 2px 2px 5px #808080;
    font-size: 25px;
}

#nav-id:hover {
    color: #f8caca !important;

}

.navbar-toggler {
    margin-left: 0px; !important;
}

.container {
    padding-left: 0 !important;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-scroll {
    background-color: rgba(0, 0, 0, 0.4) !important;
    transition: background-color 0.5s ease-in-out;
    backdrop-filter: blur(2px);
}
