{% extends 'base.html' %}
{% load static %}

{% block details %}
    <link rel="stylesheet" href="{% static 'pages/about-us.css' %}">
    <title>About Us</title>
    <meta name="description" content="Научете повече за SolarTronix – екипът, мисията и ангажимента ни към устойчиви соларни решения и зелена енергия.">
{% endblock %}

{% block content %}
    <div class="modern-card">
        <div class="card mt-0 mt-sm-1 mx-auto mt-md-5" style="max-width: 90%;">
            <h2 class="card-title text-center mb-4">Добре дошли в нашия свят</h2>
            <p class="card-text text-center">
                SolarTroniX е водеща компания в проектирането и инсталирането на фотоволтаични системи за домове и
                предприятия, както и в дистрибуцията на висококачествено соларно оборудване. Стремим се към устойчиво
                бъдеще, като предлагаме решения, които комбинират иновации, надеждност и ефективност.
                <br><br>
                Нашият екип от експерти предоставя индивидуални консултации и цялостна поддръжка, гарантирайки оптимална
                производителност и дългосрочни ползи от инвестициите в чиста енергия.
                <br>
                В SolarTroniX вярваме, че соларната енергия е не само алтернатива, а необходимост за устойчиво развитие.
                Чрез непрекъснати иновации и стремеж към съвършенство правим чистата енергия достъпна, рентабилна и
                практична за всички.
                <br><br>
                Изберете SolarTroniX – партньорът, на когото можете да разчитате за едно по-светло и зелено бъдеще!
            </p>
        </div>
    </div>
    
    {% include 'common/bottom-view.html' %}

{% endblock %}