
<div class="dark-section text-white py-4">
    <div class="container">
        <div class="row text-md-center text-start justify-content-md-center">
            <div class="col-md-4 col-12 mb-4">
                <h5 class="fw-bold">ВЛЕЗ В НАШИТЕ ОБЩНОСТИ</h5>
                <ul class="list-unstyled">
                    <li><a href="/" target="_blank" class="text-white text-decoration-none">SolarTronix Instagram</a></li>
                    <li><a href="/" target="_blank" class="text-white text-decoration-none">SolarTronix Facebook</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-12 mb-4">
                <h5 class="fw-bold">ДРУГИ</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Общи условия за използване</a></li>
                    <li><a href="/" class="text-white text-decoration-none">Политика за поверителност</a></li>
                    <li><a href="/" class="text-white text-decoration-none">Политика за бисквитки</a></li>
                    <li><a href="/" class="text-white text-decoration-none">Политика за връщане</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-12 mb-4">
                <h5 class="fw-bold">МЕНЮ</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home-page' %}" class="text-white text-decoration-none">Начало</a></li>
                    <li><a href="{% url 'about-us' %}" class="text-white text-decoration-none">За нас</a></li>
                    <li><a href="{% url 'services' %}" class="text-white text-decoration-none">Услуги</a></li>
                    <li><a href="{% url 'projects' %}" class="text-white text-decoration-none">Проекти</a></li>
                    <li><a href="{% url 'contacts' %}" class="text-white text-decoration-none">Контакти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
