{% extends 'base.html' %}
{% load static %}

{% block details %}
    <link rel="stylesheet" href="{% static 'pages/home-page.css' %}">
    <title>Contacts</title>
{% endblock %}


{% block content %}
    <div class="modern-card">
        <div class="card mt-0 mt-sm-1 mx-auto mt-md-5" style="max-width: 90%;">
            <img src="{% static 'images/logo.png' %}" alt="Лого на компанията" class="logo" style="margin-top: -30px;">
            <hr>
            <p><i class="fas fa-phone"></i> <strong>Телефон: </strong>0897695235</p>
            <p><i class="fas fa-envelope"></i> <strong>Email: </strong>solartronixbg@gmail.com</p>
            <p><i class="fab fa-facebook"></i> <strong>Facebook:</strong>
                <a href="https://www.facebook.com/share/1BVx3PG7UJ/?mibextid=wwXIfr" target="_blank">SolarTronix
                    FB</a>
            </p>
            <p><i class="fab fa-instagram"></i> <strong>Instagram:</strong>
                <a href="https://www.instagram.com/solartronix?igsh=MXVrcmVjb2VobmcxMQ==" target="_blank">SolarTronix
                    IG</a>
            </p>
            <hr>
            <div class="consulation-form">
                <h2 class="text-center mb-4">Заявка за Консултация</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary" onclick="isBot(event)">Изпрати Заявката</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'home-page' %}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-arrow-left"></i> Начало
                </a>
            </div>
        </div>
    </div>

    <div id="captchaModal" class="modal" style="display: none;">
        <div class="modal-content text-center p-4 rounded"
             style="max-width: 400px; margin: 100px auto; background: white; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
            <h5>Проверка за човек</h5>
            <p id="captchaPrompt" class="mb-2"></p>
            <input type="text" id="captchaInput" class="form-control mb-3" placeholder="Въведи кода тук">
            <button class="btn btn-primary" onclick="submitCaptcha()">Потвърди</button>
        </div>
    </div>

    {% include 'common/bottom-view.html' %}

    <script src="{% static 'javascript/bot-checker.js' %}"></script>
{% endblock %}