{% extends 'base.html' %}
{% load static %}

{% block details %}
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'pages/home-page.css' %}">
{% endblock %}

{% block content %}
    <div class="video-background">
        <video autoplay loop muted playsinline>
            <source src="https://videos.pexels.com/video-files/7624663/7624663-uhd_2560_1440_30fps.mp4"
                    type="video/mp4">
            Вашият браузър не поддържа видеа.
        </video>
    </div>
    <h1 style="z-index: 20">Welcome to the Home Page!</h1>
    <p>This is the content of the home page.</p>
{% endblock %}