{% extends 'base.html' %}
{% load static %}

{% block details %}
    <link rel="stylesheet" href="{% static 'pages/home-page.css' %}">
    <title>Welcome to Solartonix - Innovative Solar Panel Solutions</title>
{% endblock %}

{% block content %}

    <div class="modern-card">
        <div class="card mt-0 mt-sm-1 mx-auto mt-md-5" style="max-width: 90%;">
            <h2 class="card-title text-center mb-4">Добре дошли в нашия свят</h2>
            <img src="{% static 'images/logo.png' %}" alt="Лого на компанията" class="logo">
            <p class="card-text text-center">
                Ние предлагаме иновативни решения в сферата на възобновяемата енергия и соларните технологии, които са
                насочени към постигането на устойчиво бъдеще. Със специализирани услуги в проектирането, инсталирането и
                поддръжката на соларни системи, ние помагаме на клиентите си да намалят разходите за енергия и да
                намалят въглеродния си отпечатък. Нашите решения са не само ефективни и надеждни, но и икономически
                изгодни, като предоставят дългосрочни ползи за домакинства и бизнеси.
            </p>
            <div class="text-center mt-4">
                <a href="{% url 'services' %}" class="btn btn-outline-light btn-lg">Вижте нашите услуги</a>
            </div>
            <div class="social-icons text-center mt-4">
                <a href="https://www.facebook.com/share/1BVx3PG7UJ/?mibextid=wwXIfr" target="_blank"
                   class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/solartronix?igsh=MXVrcmVjb2VobmcxMQ==" target="_blank"
                   class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    
    {% include 'common/bottom-view.html' %}
    
{% endblock %}