{% extends 'base.html' %}
{% load static %}

{% block details %}
    <link rel="stylesheet" href="{% static 'pages/project-detail.css' %}">
    <title>Projects</title>
    <meta name="description" content="{{ project.title }} – проект, изпълнен от SolarTronix.">
{% endblock %}

{% block content %}

    <div class="container my-5" id="content-card">
        <div>
            <h1 class="display-4">{{ project.title }}</h1>
            <img src="{{ project.image_url }}" alt="project-img">
            <p>{{ project.description|linebreaksbr }}</p>
            <a href="{% url 'projects' %}" class="btn btn-secondary">Назад към проектите</a>
        </div>
</div>

    {% include 'common/bottom-view.html' %}
{% endblock %}