{% extends 'base.html' %}
{% load static %}

{% block details %}
    <link rel="stylesheet" href="{% static 'pages/services.css' %}">
    <title>Services</title>
{% endblock %}

{% block content %}

    <div class="text-holder">
        <h1>Нашите услуги:</h1>
        <p>В SolarTronix предлагаме цялостни решения в областта на соларните панели и възобновяемата
            енергия. Нашият екип от експерти предоставя професионално проектиране, доставка, монтаж и поддръжка на
            фотоволтаични системи за домакинства, бизнеси и индустриални обекти.
            <br><br>
            Какво предлагаме?
            <br>
            - Консултация и анализ – Изготвяме индивидуални решения според вашите нужди и специфики на обекта.
            <br>
            - Проектиране на соларни системи – Оптимизираме разположението и капацитета за максимална ефективност.
            <br>
            - Доставка и монтаж – Използваме висококачествени компоненти и осигуряваме бърз и надежден монтаж.
            <br>
            - Свързване към мрежата и документация – Съдействаме с всички административни процедури.
            <br>
            - Мониторинг и поддръжка – Гарантираме безпроблемна работа и дълготраен живот на вашата соларна система.
            <br><br>
            С SolarTronix инвестирате в устойчиво бъдеще, по-ниски разходи за електроенергия и
            независимост от конвенционалните енергийни източници.
            <br><br>
            Готови ли сте да преминете към чиста енергия? Свържете се с нас днес!</p>
    </div>

{% endblock %}